html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h5 {
  font-weight: bold;
  font-size: 1.2rem;
}

h4 {
  font-weight: bold;
  font-size: 1.4rem;
}

h3 {
  font-weight: bold;
  font-size: 1.6rem;
}

h2 {
  font-weight: bold;
  font-size: 1.8rem;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

.clear {
  *zoom: 1;
}

.clear:before, .clear:after {
  content: ' ';
  display: table;
  clear: both;
}

a {
  text-decoration: none;
}

a:hover {
  color: #0047AB;
}

a.button {
  background: #0047AB;
  padding: 1rem 2rem;
  color: #fff;
  display: block;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

a.button:hover {
  opacity: .9;
}

select, input {
  background: #F4F5F7;
  border: none;
  outline: none;
  padding: .5rem .8rem;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .topnav {
  background: #EFEFEF;
  padding: 1.1rem 2rem;
  position: relative;
}

header .topnav img.logo {
  display: inline-block;
  max-width: 206px;
}

header .topnav i {
  font-size: 1.8rem;
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  padding: .5rem;
  cursor: pointer;
}

header .mobile {
  background: #F4F5F7;
}

header .mobile .menu {
  display: none;
  border-bottom: 1px solid #C9C9C9;
}

header .mobile .menu.show {
  display: block;
}

header .mobile .menu .item.active {
  background: #fff;
}

header .mobile .menu .item a {
  display: block;
  position: relative;
  color: #000;
  padding: 1rem;
  border-top: 1px solid #C9C9C9;
}

header .mobile .menu .item i {
  position: absolute;
  right: 1rem;
}

header .mobile .menu .m-sub-menu {
  display: none;
  background: #fff;
}

header .mobile .menu .m-sub-menu.show {
  display: block;
}

header .mobile .menu .m-sub-menu a {
  font-size: .8rem;
  padding: .8rem 2rem;
  border-top-color: #f0f0f0;
}

header .mobile .menu .m-sub-menu a.active {
  background: #F4F5F7;
}

header .desktop {
  display: none;
  background: #F4F5F7;
}

header .desktop .menu {
  display: table;
  margin: 0 auto;
}

header .desktop .menu a {
  padding: 1rem;
  display: inline-block;
  color: #000;
  font-size: 1rem;
}

header .desktop .menu a:hover {
  background: #fff;
}

header .desktop .menu a.active, header .desktop .menu a:hover {
  border-bottom: 0.3rem solid #0047AB;
}

main {
  margin: 1.5rem 0;
}

main .side-nav {
  display: none;
}

main .side-nav .side-menu a {
  display: block;
  padding: .8rem;
  color: #000;
  font-size: .8rem;
  border-left: 0.2rem solid #F4F5F7;
}

main .side-nav .side-menu a.active, main .side-nav .side-menu a:hover {
  background: #F4F5F7;
  border-left: .2rem solid #a1a1a1;
}

main .side-nav .side-menu a.active {
  font-weight: bold;
}

main .container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .container .content {
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .container .content h4 {
  margin-bottom: 1.5rem;
  padding-bottom: .6rem;
  border-bottom: 1px solid #C9C9C9;
}

.input-wrap p {
  margin-bottom: .5rem;
}

.input-wrap select, .input-wrap input {
  margin-bottom: 2rem;
}

footer {
  text-align: center;
  padding: 2rem 0;
  background: #F4F5F7;
}

/* Small Devices, Tablets */
@media (min-width: 763px) {
  a.button {
    padding: 1rem 2rem;
    display: inline-block;
    margin-right: 2rem;
  }
  header .mobile {
    display: none;
  }
  header .desktop {
    display: block;
  }
  main .side-nav {
    display: block;
    width: 25%;
    float: left;
  }
  main .container {
    border-left: 1px solid #C9C9C9;
    float: left;
    width: 75%;
    min-height: 60vh;
  }
  main .container .content {
    float: left;
    width: 50%;
    padding-top: 0;
  }
  main .container .content.full {
    float: none;
    width: 100%;
  }
}

/* Medium Devices, Desktops */
@media (min-width: 992px) {
  header .desktop .menu a {
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }
  header .desktop .menu a.active, header .desktop .menu a:hover {
    border-bottom: 0.4rem solid #0047AB;
  }
  main {
    margin: 3rem 0;
  }
  main .side-nav .side-menu a {
    font-size: 1rem;
  }
  main .container .content {
    padding: 0 2.8rem 2.8rem;
  }
  main .container .content:nth-child(2) {
    padding-left: 0;
  }
  main .container .content h4 {
    margin-bottom: 3rem;
  }
}

/* Large Devices, Wide Screens */
@media (min-width: 1180px) {
  main .side-nav {
    width: 20%;
  }
  main .container {
    width: 80%;
  }
}

/* Large Devices, Wide Screens */
@media (min-width: 1600px) {
  main .side-nav {
    width: 15%;
  }
  main .container {
    width: 85%;
  }
  main .container .content {
    width: 40%;
  }
  main .container .content:nth-child(2) {
    width: 60%;
  }
}
/*# sourceMappingURL=style.css.map */