// colors
$blue: #0047AB;
$blue1: #0089FF;
$blueGray: #F4F5F7;
$blueGray1: #E3E8EB;
$gray: #EFEFEF;
$gray1: #828282;
$border: 1px solid #C9C9C9;
$border-light: 1px solid #DCDCDC;
$white: #fff;
$black: #000;

// reset
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block; }

body {
    line-height: 1;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
    &:before, &:after {
        content: '';
        content: none; }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h5 { font-weight: bold; font-size: 1.2rem; }
h4 { font-weight: bold; font-size: 1.4rem; }
h3 { font-weight: bold; font-size: 1.6rem; }
h2 { font-weight: bold; font-size: 1.8rem; }
h1 { font-weight: bold; font-size: 2rem; }
b { font-weight: bold; }
.clear {
    *zoom:1;
    &:before, &:after {
        content:' ';
        display:table;
        clear:both;
    }
}

a {
    text-decoration: none;
    color: $blue;
    &:hover {
        opacity: .9;
    }

    &.button {
        background: $blue;
        padding: 1rem 2rem;
        color: $white;
        display: block;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1rem;

        &.fullwidth {
            display: block;
            margin: 0 0 1rem;
        }

        i {
            font-size: .8rem;
            margin-right: .4rem;
            position: relative;
            top: -1px;
        }
    }
}

img {
    display: block;
    max-width: 100%;
}

input[type="search"] {
    ::-webkit-search-decoration,
    ::-webkit-search-cancel-button,
    ::-webkit-search-results-button,
    ::-webkit-search-results-decoration { display: none; outline: none}
}

select, textarea, input:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=radio])  {
    padding: .4rem .5rem;
	width: 100%;
    color: $black;
    font-size: .8rem;
	outline: none;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
    border: $border-light;
    background: $blueGray;
    display: block;
    
    &:focus {
        border: 1px solid #598DFB;
        color: #000000;
        background: #EDF2FD;
    }
}



/* ---------------------
        DEFAULTS
------------------------ */
// Header
header {
    .topnav {
        background: $gray;
        padding: 1.1rem 2rem;
        position: relative;
        img.logo {
            display: inline-block;
            max-width: 206px;
        }
        i {
            font-size: 1.8rem;
            position: absolute;
            top: 0.7rem;
            right: 1rem;
            padding: .5rem;
            cursor: pointer;
        }
        a.logout {
            float: right;
            line-height: 1.5rem;
            font-size: .9rem;
            color: $black;
        }
    }

    .mobile{
        background: $blueGray;
        .menu {
            display: none;
            border-bottom: $border;
            box-shadow: 0 .5rem 1.2rem 0 #ccc;
            &.show {
                display: block;
            }
            .item {
                &.active {
                    background: $blueGray1;
                }
                a {
                    display: block;
                    position: relative;
                    color: $black;
                    padding: 1rem;
                    border-top: $border;
                }
                i {
                    position: absolute;
                    right: 1rem;
                }
            }
            .m-sub-menu {
                display: none;
                background: $white;
                &.show {
                    display: block;
                }
                a {
                    font-size: .8rem;
                    padding: .8rem 2rem;
                    border-top-color: #f0f0f0;

                    &.active {
                        background: $blueGray;
                    }
                }
            }
        }
    }

    .desktop {
        display: none;
        background: $blueGray;
        .menu {
            display: table;
            margin: 0 auto;
            a {
                padding: 1rem;
                display: inline-block;
                color: $black;
                font-size: 1rem;
                &:hover {
                    background: $white;
                }
                &.active, &:hover {
                    border-bottom: .3rem solid $blue;
                }

            }
            
        }
    }
}

// Main 
main {
    margin: 1.5rem 0;
}
.side-nav {
    display: none;
    .side-menu {
        a {
            display: block;
            padding: .8rem;
            color: $black;
            font-size: .8rem;
            border-left: .2rem solid $blueGray;
            &.active, &:hover {
                background: $blueGray;
                border-left: .2rem solid $gray1;
            }
            &.active {
                font-weight: bold;
            }
        }
    }
}

.container {
    box-sizing: border-box;
    position: relative;
    a.learn {
        text-align: right;
        background: $blue;
        padding: .5rem 1rem;
        color: $white;
        font-size: .8rem;
        display: inline-block;
        position: absolute;
        right: 1rem;
        top: 0;
        i{
            font-size: .7rem;
            margin-left: .2rem;
        }
    }
    .content {
        padding: 1rem;
        box-sizing: border-box;
        &.item-list {
            h4 {
                margin-bottom: 1rem;
            }
        }
        h4 {
            margin-bottom: 1.5rem;
            padding-bottom: .6rem;
            border-bottom: $border;
        }
    }
}

.input-wrap {
    p {
        margin-bottom: .3rem;
    }
    select, input, textarea {
        margin-bottom: 1rem;
    }
}

// Footer 
footer {
    text-align: center;
    padding: 2rem 0;
    background: $blueGray;
}


/* ---------------------
        PAGES
------------------------ */

// P.O Items 
.po-item-wrap {
    margin-bottom: 1rem;
    .po-item {
        display: block;
        background: $blueGray;
        height: 250px;
        margin-bottom: 1rem;
        position: relative;
        background-position: center;
        background-size: cover;
        cursor: pointer;
        border: $border-light;
        &:hover {
            border-color: $blue;
        }
        &:before{
            content: " ";
            position: absolute;
            width: 100%;
            height: 100%;
            background: $white;
            opacity: .5;
        }
        .po-info {
            position: absolute;
            bottom: 0;
            width: 100%;
            background: $white;
            padding: 1rem;
            box-sizing: border-box;
            border-top: $border-light;
            p {
                margin-bottom: .5rem;
                font-size: .9rem;
                color: $black;
                &:last-child{
                    margin: 0;
                }
            }
        }
    }
}


// Login 
.login-container {
    height: 95vh;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 1rem;
    
    form {
        max-width: 400px;
        width: 100%;
        display: block;
        margin: 0 auto;
        border: $border;
        padding: 3rem 2rem;
        text-align: center;
        font-size: .9rem;

        .input-wrap {
            text-align: left;
            p {
                font-size: 1rem;
            }
        }
        img.logo {
            max-width: 300px;
            width: 100%;
            display: block;
            margin: 0 auto 1.2rem;
        }
        h5 {
            margin-bottom: 2.5rem;
        }
        input[type="password"], input[type="checkbox"] {
            margin-bottom: 1rem;
        }
        .button {
            margin-top: 1.5rem;
        }
        
    }
 
}


// Product List 
.item-list-group {
    margin: 1rem 0;

    .item-breadcrubs {
        margin-bottom: 0.5rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 2rem;
        nav {
            display: flex;
        }
        .clear {
            display: flex;
            position: absolute;
            right: 2.7rem;
        }
        a {
            cursor: pointer;
            display: inline-block;
            font-size: .9rem;
            padding: .4rem .7rem;
            line-height: 1rem;
            text-align: center;
            box-sizing: border-box;
            background: $blueGray;
            border-right: .01rem solid $white;
            color: $gray1;
            &.active, &:hover {
                color: $white;
                background: $blueGray1;
            }
        }
    }

    .item-list  {
        p {
            display: block;
            width: 16.666%;
            float: left;
            padding: .8rem 1.2rem;
            box-sizing: border-box;
        }
        .item {
            background:$gray;
            border-bottom: .01rem solid $white;
            color: $gray1;
            font-size: .9rem;
            &.label {
                font-size: 1rem;
                background: $blueGray1;
                color: $black;
            }
        }
    }

    .item-per-page {
        margin: .5rem 0;
        font-size: .9rem;
        color: $gray1;
        text-align: right;
        input{
            color: $gray1 !important;
            padding: 0.4rem 0.5rem !important;
            font-size: 0.8rem !important;
            width: 3rem !important;
            border: 0 !important;
            display: inline-block !important;
        }
    }
}


// Company Profile
.profile-photo-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    .photo {
        width: 150px;
        height: 150px;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        display: inline-block;
        margin-right: 1rem;
    }
    .text {
        display: inline-block;
        p {
            font-size: .8rem;
        }
        a.button {
            display: inline-block;
            padding: .8rem 1rem;
            font-size: .8rem;
        }
    }
}


// Modal
#modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;

    &.active {
        display: flex;
        align-items: center;
    }

    .modal-container {
        min-width: 800px;
        min-height: 400px;
        display: block;
        margin: 0 auto;
        border: $border;
        padding: 1.5rem 2rem;
        background: $white;
        font-size: .9rem;
        text-align: left;
        position: relative;

        a.closeModal {
            position: absolute;
            top: 1.5rem;
            right: 2rem;
            font-size: 2rem;
            color: $black;
            z-index: 1;
        }
        .title, iframe {
            display: block;
            margin-bottom: 1.5rem;
        }
        
    }
        
}


/* Small Devices, Tablets */
@media (min-width: 763px) {


    a {
        &.button {
            padding: 1rem 2rem;
            display: inline-block;
            margin-right: 2rem;
        }
    }



    header {
        .mobile {
            display: none;
        }
        .desktop {
            display: block;
        }
    }

    main {
        .side-nav {
            display: block;
            width: 25%;
            float: left;
        }
        .container {
            border-left: $border;
            float: left;
            width: 75%;
            min-height: 60vh;
            a.learn {
                top: -0.6rem;
            }
            .content {
                float: left;
                width: 50%;
                padding-top: 0;

                &.full {
                    float: none;
                    width: 100%;
                }
            }
        }
    }

    // P.O Items 
    .po-item-wrap {
        .po-item {
            height: 250px;
        }
    }
    
}


/* Medium Devices, Desktops */
@media (min-width: 992px) {

    select, textarea, input:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=radio])  {
        padding: .6rem 1rem;
        font-size: 1rem;
    }

    header {
        .desktop {
            .menu {
                a {
                    font-size: 1.2rem;
                    padding: 1rem 1.6rem;
    
                    &.active, &:hover {
                        border-bottom: .4rem solid $blue;
                    }
                 }
            }
        }
    }

    main {
        margin: 3rem 0;
        .side-nav {
            .side-menu {
                a {
                    font-size: 1rem;
                }
            }
        }
        .container {
            a.learn {
                top: -1.4rem;
                right: 2.7rem;
            }
            .content {
                padding: 0 2.8rem 2.8rem;
                &.last {
                    padding-left: 0;
                }
                h4 {
                    margin-bottom: 3rem;
                }
            }
        }
    }

    .input-wrap {
        select, input, textarea {
            margin-bottom: 2rem;
        }
    }
}


/* Large Devices, Wide Screens */
@media (min-width : 1180px) {
    
    header {
        .desktop {
            .menu {
                a {
                    padding: 1rem 2.4rem;
                 }
            }
        }
    }

    main {
        .side-nav {
            width: 20%;
        }
        .container {
            width: 80%;

            .content {
                .content-half {
                    width: 50%;
                }
            }
        }
    }

     // P.O Items 
     .po-item-wrap {
        .po-item {
            width: 47%;
            float: left;
            margin-right: 2.5%;
        }
    }
}


/* Large Devices, Wide Screens */
@media (min-width : 1600px) {

    main {
        .side-nav {
            width: 15%;
        }
        .container {
            width: 85%;
            .content {
                width: 40%;

                .content-half {
                    width: 40%;
                }
                &.last {
                    width: 60%;
                }
            }
        }
    }

    // P.O Items 
    .po-item-wrap {
        .po-item {
            width: 31%;
            float: left;
            margin-right: 2%;
          
        }
    }
	
}